<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {%if all_appl%}
               {%for app in all_appl%}

            <div class="card-header">
                <h5>&nbsp;&nbsp;Applications for {{app.job.job_title }}</h5>
            </div>

            <div class="card" style="width: 18rem;">


                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Applicant Name : {{app.applicant.first_name}}</li>
                    <li class="list-group-item">Applied Date : {{app.date}}</li>
                    <li class="list-group-item">Qualification : {{app.applicant.candidates.qualification}}</li>
                    <li class="list-group-item">CV : {{app.applicant.candidates.cv}}</li>

                </ul>
                <a href="{%url 'emp-applicantprofile' app.id%}" class="btn btn-outline-success">View Profile</a>
            </div>

            {%endfor%}
            {%else%}
            <h3>No New Applications</h3>
            {%endif%}
        </div>
        <div class="col-4"></div>
    </div>
</div>
</body>
</html>