<html>

{%extends 'cand-base.html'%}
{%block body_block%}
<body>
<h1>Welcome {{request.user}}</h1>
{%if request.user.candidates%}
<a href="{%url 'cand-viewprofile' %}">View Profile</a>
{%else%}
<a href="{%url 'cand-addprofile' %}">Add Profile</a>
{%endif%}
<a href="">All Jobs</a>
<a href="{%url 'cand-myappl' %}">My Applications</a>
<a href="{%url 'cand-acceptedapplicaions' %}">Notifications</a>
<div class="container">

    <div class="row mt-5">
    <div class="col-1"></div>
    <div class="col-10">
        <form action="" method="get">
           <div class="row">
               <div class="col-2">Posted by :{{filter.form.posted_by}}</div>
               <div class="col-2">Job Title :{{filter.form.job_title}}</div>
               <div class="col-2">Job Role :{{filter.form.role}}</div>
               <div class="col-2">Location :{{filter.form.location}}</div>
               <div class="col-2">Salary :{{filter.form.salary}}</div>
               <div class="col-2">Qualification :{{filter.form.qualification}}</div>
               <div class="col mt-3"align="center"> <input type="submit"></div>
           </div>

        </form>
    </div>
    <div class="col-1"></div>
</div>

    <div class="row mt-5">
        {%for job in filter.qs%}
        <div class="col-4">
            <div class="card text-bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">{{job.job_title}}</div>
                <div class="card-body">
                    <h5 class="card-title">{{job.role}}</h5>
                    <p class="card-text">{{job.posted_by.username}}</p>


                </div>
                 <div class="card-footer bg-transparent border-success"><a href="{%url 'cand-detailjob' job.id%} " class="btn btn-success">View</a></div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>

</body>
{%endblock%}
</html>